<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>at.markusreinisch.makemkv-key</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>/Users/markusreinisch/CoworkProjects/bin/makemkv-key-update.sh</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>9</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardOutPath</key>
	<string>/Users/markusreinisch/CoworkProjects/logs/makemkv-key.out</string>
	<key>StandardErrorPath</key>
	<string>/Users/markusreinisch/CoworkProjects/logs/makemkv-key.err</string>
</dict>
</plist>
